# Python
__pycache__/



# Virtual Environment
venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Data files (optional - you might want to include sample data)
data/raw/*.csv
data/processed/*.csv
data/exports/*.csv
capstone_project_final1[1].pdf
ppt/
# Model files
feature/ml/models/*.pkl
feature/ml/results/*.csv
feature/ml/plots/*.png
feature/encoders/onehot_encoder.pkl
aws/ec2_connection.md
aws/rds_setup.md
# Logs
*.log

# Database
*.db
*.sqlite
